body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-group-item {
  width: 40rem;
  height: auto;
}

.list-group-item-text {
  margin-top: 1rem;
}

img {
  margin-top: 1rem;
}

.search-input {
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.link-to-buy {
  text-decoration: none;
}
input {
  text-align: center;
}
