body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.books-list {
  display: inline-block;
}

.list-group-item-text {
  margin-top: 1rem;
}

.input-group  {
  display: flex;
  justify-content: center;
}
.search-input {
  text-align: center;
}

.search-input:active {
  border: none;
}
