@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 10rem;
}
.app-title {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}
input {
  text-align: left;
}
.thumbnail {
  padding-top: 5rem;
  min-height: 500px;
}
.list-group-item-text {
  margin-top: 1rem;
}

.form-group {
  margin-top: 5rem;
  margin-right: 30rem;
  margin-left: 30rem;
  display: flex;
  justify-content: center;
}
